{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Transacted</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{transaction["Symbol"]}}</td>
            <td>{{transaction["Shares"]}}</td>
            <td>{{transaction["Transacted"]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}